* {
  box-sizing: border-box;
}

.container {
  width: 700px;
  margin: 0 auto;
}

form {
  width: 600px;
}

fieldset {
  background: #ececec;
  border: none;
  border-left: 4px solid #cdcccc;
  padding: 15px 40px 30px 30px;
  margin-bottom: 2px;
}

h1 {
  display: inline-block;
  font: normal 28px Helvetica, Arial, sans-serif;
  margin: 0 auto 20px auto;
}

h2 {
  font: bold 20px Helvetica, Arial, sans-serif;
  text-align: left;
}

label {
  font: bold 16px Helvetica, Arial, sans-serif;
  color: #666766;
}

input[type="text"],
input[type="email"],
textarea {
  font: normal 14px Helvetica, Arial, sans-serif;
  border: 1px solid blue;
  border-radius: 5px;
  padding: 12px 4px;
}

input[type="email"],
textarea {
  width: 100%;
}

textarea {
  max-width: 100%;
  min-width: 100%;
}

dt {
  margin-bottom: 12px;
}

dd {
  margin: 0;
}

dl {
  margin: 25px 0;
}

.personal_info input[type="text"] {
  width: 49%;
}

.personal_info input[type="text"] + input[type="text"] {
  margin-left: 2%;
}

.media dl {
  display: inline-block;
  width: 30%;
  margin-right: 5%;
}

.media dl:nth-of-type(3) {
  margin-right: 0;
}

.account dl:nth-of-type(2),
.account dl:nth-of-type(3) {
  display: inline-block;
  margin-top: 0;
  width: 48%;
}

.account dl:nth-of-type(2) {
  margin-right: 4%;
}

.account input {
  width: 100%;
}

textarea {
  resize: vertical;
}

label.checkbox {
  display: block;
  font: normal 12px Helvetica; 
  margin-bottom: 25px;
}

input[type="checkbox"] {
  display: inline-block;
  margin: 0 15px 0 0;
  vertical-align: top;
}

.agree {
  display: inline-block;
  width: 70%;
}

input[type="submit"] {
  -webkit-appearance: none;
  font: normal 16px Helvetica, Arial, sans-serif;
  padding: 16px 24px 12px 24px;
  background-color: #0066cc;
  color: white;
  border-radius: 4px;
}

input[type="submit"]:hover {
  background-color: dodgerblue;
}




